<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <style>
                body {

            margin-left: 200px;
            margin-right: 200px;
        }
              H1 {
            font-size: 180%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: WHITE;
        }

              H2 {
            font-size: 100%;
            font-family: Courier New, Arial, Helvetica, sans-serif;
            line-height: 1.5;
            color: WHITE;
        }

        </style>
    </head>
    <body style ="background: url(static/link.jpg); background-repeat: no-repeat; background-size: cover; height: 100vh">

    <center>
            <h1>Hello and welcome to URL Shortener Servise</h1>

            <form name = "passdata" action = "." method = "post">
                <input type="text" name="urllink" size = 60 value = "" placeholder="enter your link here">
                <input type="submit" value="submit">
            </form>

               <h2><a target="_blank" href={{m}} style="color: #cc0000; background: white">{{n}}</a></h2>
     </center>

    </body>
</html>